* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --second-color: #000339;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 170px;
    padding: 18px 16px;
    border-radius: 8px;

    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;

    background-color: var(--primary-color);
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

/* ========== Header ========== */
.header {
    /* Position */
    position: relative;

    height: 100vh;

    background-color: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 34px;
}

.navbar ul a {
    padding: 8px 30px;

    font-size: 1.4rem;
    font-weight: 500;

    color: #4f5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .actions-link {
    font-size: 1.4rem;
    font-weight: 500;

    color: var(--primary-color);
}

.navbar .actions-btn {
    min-width: 98px;
    padding: 13px;
    margin-left: 18px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.01em;

    color: #687690;
}

.hero .title {
    margin-top: 8px;

    font-size: 6.4rem;
    line-height: 76px; /* 118.75% */
    font-weight: 700;

    color: var(--second-color);
}

.hero .desc {
    margin-top: 30px;

    font-size: 1.8rem;
    line-height: 1.7778;
    font-weight: 400;

    color: #5a6473;
}

.hero .hero-cta {
    display: inline-block;
    margin-top: 40px;

    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;

    color: #fff;
}

.hero-img {
    position: absolute;

    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ========== Clients ========== */
.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    margin-top: 18.15px;

    line-height: 1.25;
    font-weight: 500;

    color: #7d8589;
}

.clients .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/* ========== Guides ========== */
.guides {
    margin-top: 174px;
}

.guides .sub-title {
    position: relative;

    text-align: center;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;

    color: var(--second-color);
}

.guides .sub-title::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: inline-block;
    content: "";

    width: 41px;
    height: 4px;
    margin-top: -10px;
    border-radius: 12px;

    background-color: var(--second-color);
}

.guides .desc {
    width: 450px;
    max-width: 100%;
    margin: 20px auto 0;

    text-align: center;
    line-height: 1.875; /* 187.5% */
    font-weight: 400;

    color: #5a6473;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;

    text-align: center;
}

.guide-item .title {
    margin-top: 26px;

    text-align: center;
    font-size: 2rem;
    line-height: 1.1; /* 110% */
    font-weight: 500;

    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;

    font-size: 1.4rem;
    font-weight: 600;

    color: #0689ff;
}

.guide-item .arrow-right {
    margin-left: 6px;
}

.guide-cta {
    margin-top: 50px;

    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;

    color: #fff;
}
